# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
.eggs/

# Entorno virtual
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec.bak

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Zips de distribución
*.zip

# Datos de usuario
*.db
*.sqlite3
